* {
    margin: 0;
    padding: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

body {
    background-color: #1a0931;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.About {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.about-img img {
    padding-bottom: 20%;
    padding-left: 100px;
    max-width: 500px;
    height: auto;
    width: 90%;
    border-radius: 8px;
    margin-left: 53px;
}

.about-text {
    margin-top: -186px;
}

.about-text h2 {
    font-size: 60px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(18, 18, 62);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(195, 59, 163);
    font-size: 1.04rem;
}

.left {
    font-size: 1.5rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 32px 0;
}

.firstSection div {
    width: 30%;
}

.leftSection {
    font-size: 2rem;
    /* margin: 80px 0; */
}

.leftSection a {
    background: rgb(195, 59, 163);
    padding: 10px 18px;
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.rightSecion {
    width: 50%;
    height: 80%;
    position: absolute;
    bottom: 0px;
    right: 100px;
}

.rightSecion img {
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.purple {
    color: rgb(195, 59, 163);
}

#element {
    color: rgb(195, 59, 163);
}

#element1 {
    font-size: 2.5rem;
    color: rgb(195, 59, 163);
}

#element3 {
    font-size: 2.5rem;
    color: rgb(195, 59, 163);
}

#element2 {
    font-size: 2.5rem;
    color: rgb(195, 59, 163);
    margin-left: 650px;
}

#element4 {
    font-size: 2.5rem;
    color: rgb(195, 59, 163);
}

.secondSection {
    max-width: 80vw;
    margin: auto;
    height: 90vh;
}

.text-grey {
    color: rgb(199, 192, 192);
}

.secondSection h1 {
    font-size: 1.9rem;
}

.secondSection .box {
    background-color: rgb(195, 59, 163);
    width: 170vh;
    height: 2px;
    margin: 56px 0;
    display: flex;
}

.secondSection .vertical {
    height: 93px;
    width: 1px;
    background-color:rgb(195, 59, 163);
    margin: 0 154px;
}

.image-top {
    width: 50px;
    position: relative;
    top: -53px;
    left: -20px;
}

.vertical-title {
    position: relative;
    top: 50px;
    width: 180px;
    left: -43px;
}

.home-logo {
    display: flex;
    background: none;
}

.home-logo a {
    margin: 30px 15px 30px 0px;
    padding: 13px 0px;
    width: 40px;
    height: 40px;
    background: transparent;
    font-size: 30px;
    color: rgb(195, 59, 163);
    text-decoration: none;
}

.home-logo a:hover {
    font-size: 35px;
}

.vertical-desc {
    position: relative;
    top: 60px;
    left: -43px;
    color: rgb(241, 232, 232);
    width: 150px;
    font-size: 9px;
    font-size: 0.9rem;
}

.About {
    margin: -120px;
}

.Resume {
    margin-left: 385px;
    background-size: cover;
}

.Contact {
    position: relative;
    min-height: 50vh;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Contact .Content {
    max-width: 800px;
    text-align: center;
}

.Contact .Content h2 {
    font-size: 36px;
    font-weight: 500px;
}

.container {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: -181px;
}

.container .contactinfo {
    width: 50px;
    display: flex;
    flex-direction: column;
    /* margin-left: 684px; */
}

.container .contactform {
    margin-left: 581px;
}

.contactinfo .box {
    width: 100px;
    display: flex;
    flex-direction: column;
}

.contactinfo .box .text {
    display: flex;
    margin-left: 20px;
    color: #fff;
    flex-direction: column;
    font-weight: 300px;
}

.contactinfo .box .text h3 {
    font-weight: 500px;
    /* color: #00bcd4; */
}

.contactForm {
    width: 40%;
    padding: 40px;
    background: #fff;
    /* margin-left: 481px; */
}

.contactform h2 {
    font-size: 30px;
    color: #ece7eb;
    font-weight: 500px;
}

.contactform .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactform .inputBox input {
    width: 100%;
    padding: 5px 0px;
}

/* media query for laptop  */
 @media ( max-width: 1600px){
    section{
        padding :2rem 3%;
    }
    /* .mypic{
        display:none;
    } */
}
@media (max-width:1448px)
{
    section{
        padding :2rem 3%;
    }
    .leftSection{
        padding-left:240px;
        margin: 38px;
    }
}
@media (max-width:1244px){
    .leftSection{
        padding-left: 300px;
        justify-content: center;
        display: inline;
    }

@media (max-width:732px){
    .hdr{
        padding: 1px;
    }
}

@media (max-width:880px){
    .left{
        display: block;
        padding:8px;

    }
    section{
        padding :2rem 3%;
    }
}
}
@media (max-width:1028px) {
    .Contact{
        padding-left: 456px;
    }
    section{
        padding :2rem 3%;
    }
}
@media (max-width:942px){
    .About{
        /* display:inline; */
        display: flex;
    }
    .about-img{
        padding:7px;
        display: flex;
    }
    .about-text{
        margin-top: 65px;
        margin-left: 270px;
    }
    .secondSection{
        margin-top: 129px;
    }
    section{
        padding :2rem 3%;
    }
}
@media (max-width:672px){
    section{
        padding :2rem 3%;
    }
    .About p{
        
            padding-left:50px;
        }   
        
    .nav-bar{
        width: 717px;
    }
    }


    
    